<div id="page-wrapper" style="display:none">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Member Details
                </h1>
            </div>
        </div>

        <!--
        <div class="alert alert-info alert-dismissible">
            <span class="close" data-dismiss="alert" aria-label="close">&times;</span>
            <i class="fa fa-info-circle"></i> Discribe this page and give the user an idea on how to use it. <strong><a href="video.url">Click here (Video Tutorial)</a></strong>
        </div>
        -->

    <form method="POST">
        <div class="row">
            <div class="col-lg-12">

                <div class="row" id="section-user-info">

                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">

                        <div class="col-lg-12"><br/></div>

                        <div class="col-lg-12">
                            <div class="form-group col-md-3">
                                <p>Full Name</p>
                            </div>
                            <div class="form-group col-md-6">
                                <p class="plain">{{ lastname + ', ' + firstname + ' ' + middlename }}</p>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group col-md-3">
                                <p>Date of Birth</p>
                            </div>
                            <div class="form-group col-md-6">
                                <p class="plain">{{ date_of_birth }}</p>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group col-md-3">
                                <p>Age</p>
                            </div>
                            <div class="form-group col-md-6">
                                <p class="plain">{{ age }}</p>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group col-md-3">
                                <p>Gender</p>
                            </div>
                            <div class="form-group col-md-6">
                                <p class="plain">{{ gender }}</p>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group col-md-3">
                                <p>Civil Status</p>
                            </div>
                            <div class="form-group col-md-6">
                                <p class="plain">{{ civil_status }}</p>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group col-md-3">
                                <p>Occupation</p>
                            </div>
                            <div class="form-group col-md-6">
                                <p class="plain">{{ occupation }}</p>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <hr/>
                            <div class="form-group col-md-12">
                                <label>Contact Details</label>
                            </div>

                            <div class="form-group col-md-3">
                                <p>Contact Number</p>
                            </div>
                            <div class="form-group col-md-6">
                                <p class="plain">{{ contact_no }}</p>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group col-md-3">
                                <p>Email Address</p>
                            </div>
                            <div class="form-group col-md-6">
                                <p class="plain">{{ email }}</p>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group col-md-3">
                                <p>Address</p>
                            </div>
                            <div class="form-group col-md-6">
                                <p class="plain">{{ address }}</p>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <hr/>
                            <div class="form-group col-md-3">
                                <p>Date Registered</p>
                            </div>
                            <div class="form-group col-md-6">
                                <p class="plain">{{ date_registered }}</p>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group col-md-3">
                                <p>Service Attended</p>
                            </div>
                            <div class="form-group col-md-6">
                                <p class="plain">{{ service_attended }}</p>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group col-md-3">
                                <p>Preferred Day</p>
                            </div>
                            <div class="form-group col-md-6">
                                <p class="plain">{{ preferred_day }}</p>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group col-md-3">
                                <p>Status</p>
                            </div>
                            <div class="form-group col-md-6">
                                <span class="text-warning" ng-if="stage_id == '1'">Pending</span>
                                <span class="text-info" ng-if="stage_id == '2'"><!--Invitation Sent-->Not Interested</span>
                                <span class="text-danger" ng-if="stage_id == '3'">For Follow-up</span> 
                            </div>
                        </div>
                       
                    </div>

                    <div class="col-lg-1"></div>

                    <div class="col-lg-12"><br/><br/><br/></div>

                    <div class="col-lg-12 text-center">
                        <div class="col-lg-4"></div>

                        <div class="col-lg-2">
                            <input type="button" class="btn btn-warning btn-lg btn-block" value="Back to List" ng-click="gotoList()">
                        </div>

                        <div class="col-lg-2">
                            <input type="button" class="btn btn-success btn-lg btn-block" value="Update Details" ng-click="gotoUpdate()">
                        </div>
                        <div class="col-lg-4"></div>
                    </div>

                </div>

                <div class="col-lg-12"><br/></div>
            </div>
        </div>
    </form>
        <!-- /.row -->

    </div>

</div>